/* ==UserStyle==
@name			TacticalRMM Script Manager
@namespace		github.com/NiceGuyIT/pimp-my-tactical/tree/main/user-css
@version		1.0.2
@description	TacticalRMM user styles to expand the environmental variable section in Script Manager.
@author			NiceGuyIT
==/UserStyle== */


@-moz-document regexp("https://rmm\\..*") {

	/* Adjust the width of the script editor for better visibility of environmental variables. */
	body > div:nth-child(5) > .q-dialog > .q-dialog__inner > .q-card > .q-form > .row > .q-scrollarea {
		width: 65%;
	}

	body > div:nth-child(5) > .q-dialog > .q-dialog__inner > .q-card > .q-form > .row > .ace_editor {
		width: 35%;
	}

	/* Increase the height of the syntax box. This is where the environmental variables are stored and can be edited before pasting into the environmental box. */
	body > div:nth-child(5) > .q-dialog > .q-dialog__inner > .q-card > .q-form > .row > .q-scrollarea > .q-scrollarea__container > .q-scrollarea__content > div > label:nth-child(10) {
		height: auto !important;
	}
	body > div:nth-child(5) > .q-dialog > .q-dialog__inner > .q-card > .q-form > .row > .q-scrollarea > .q-scrollarea__container > .q-scrollarea__content > div > label:nth-child(10) > .q-field__inner > .q-field__control > div.row > textarea {
		height: 275px !important;
	}
}

